:root {
  color-scheme: light dark;
  font-family: "Bebas Neue", cursive;
}

.video {
  max-width: 100%;
  margin-top: 5rem;
}
.contenedor {
  background: #000;
  max-width: 900px;
  margin: 0 auto;
  @media (min-width: 922px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.heading {
  font-family: "Bebas Neue", cursive;
  color: #fff;
  text-align: left;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 50px;
  margin-top: 80px;

  &::after {
    content: "";
    width: 100px;
    height: 6px;
    background: #66a2fe;
    display: block;
  }
}

label {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.4rem;
  margin-top: 2rem;
  display: block;
}

select {
  width: 100%;
  display: block;
  padding: 1rem;
  -webkit-appearance: none;
  border-radius: 10px;
  border: none;
}

.button{
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  background: #66a2fe;
  border: none;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  transition: 0.3s ease;

  &:hover {
    background: #326ac0;
    cursor: pointer;
  }
}

.mensaje-error {
  background: #b7322c;
  padding: 1rem;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}